*{
    box-sizing: border-box;
}

body{
    background-color: #fefae0;
    height: 98vh;
    width: 98vw;
}

.menu{
    background-color: #a5af85;
    height: 98vh;
    width: 30vw;
    color:#faedcd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    padding: 0;
}

.menu h3{
   font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 46px;
}

.menu li{
    list-style: none;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.315);
    padding: 20px;
    width: 240px;
    border-radius: 20px;
    margin:10px;
}

a{
    text-decoration: none;
    color: #faedcd;
}

.menu li:hover{
    transform: rotate(6deg);
    transform: scale(1.03);
    transition: 0.3s;
    box-shadow: black;
    cursor: pointer;
}

.principal{
    background-color: #ccd5ae;
    height: 98vh;
    width: 98vw;
}

#menu{
    gap: 10px;
    display: flex;
    flex-direction: row;
}

header h1{
    background-color: #a3b18a;
    width: 84vw;
    height: 15vh;
    margin: 10px;
    color: #faedcd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    align-content: center;
}

section p{
    background-color: #a3b18a;
    width:84vw;
    height: 53vh;
    margin: 10px;
    color: #faedcd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
}

footer{
    background-color: #a3b18a;
    width: 84vw;
    height: 25.6vh;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

img{
    width: 380px;
    height: 244px;

}

.imagens{
    font-size: 19px; 
    display: flex;
    flex-direction: row;
    color: #faedcd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
}

.imagens p{
    padding: 50px;
}